body{
    background: var(--background);
    background: red;
}
button{
    background: transparent;
    padding:10px 20px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    box-shadow: 0 0 10px var(--invert_background);
}
#theme_switcher{
    color:var(--invert_background);
    border: 2px solid var(--invert_background);

}