body {
    background: var(--background) !important;
}

button {
    background: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    box-shadow: 0 0 10px var(--invert_background);
}

::-webkit-scrollbar {
    width: 5px;
    left: 0
}

/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.index_menu::-webkit-scrollbar-thumb,
.index_menu::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.header {
    padding: 15px 20px;
}


#main_body {
    min-height: 100vh;
    /* filter: blur(1px); */
    /* background: rgb(160, 160, 160); */
}

.menu {
    height: fit-content;
    width: 45px;
    background: var(--background);
    border: 1px solid var(--menu_border);
    overflow: hidden;
    padding-inline: 5px;
    border-radius: 5px;
    z-index: 10;
}

.menu>div {
    height: 5px;
    width: 100%;
    background: var(--invert_background);
    border-radius: 20px;
    margin-block: 5px;
    box-shadow: 0 0 2px;
    transition: all 300ms linear;
    transform-origin: center;
}

.menu_x>.bar1 {
    transform: translateY(10px) rotate(45deg);
}

.menu_x>.bar2 {
    width: 0;
}

.menu_x>.bar3 {
    transform: translateY(-10px) rotate(-45deg);
}

.main_navbar {
    /* border: 1px solid red; */
}

.main_navbar>.main_tabs,
.index_menu>.main_tabs {
    cursor: pointer;
    display: inline-block;
    color: var(--invert_background);
    margin-inline: 10px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.main_navbar>.main_tabs.active {
    color: #EF5F36;
}

.main_navbar>.main_tabs:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    border-radius: 5px;
    background: #EF5F36;
    bottom: -5px;
    left: 0;
    transform: scale(0);
    box-shadow: 0 0 5px 2px #EF5F36;
    transition: transform 400ms linear;
    transform-origin: right;
}

.main_navbar>.main_tabs:hover:after,
.main_navbar>.main_tabs.active:after {
    transform: scale(1);
    transform-origin: left;
}

#theme_switcher {
    color: var(--invert_background);
    border: 2px solid var(--invert_background);
}
#switch_themes{
    border: 1px solid red;
    height: 40px;
    width: 100px;
    border-radius:50px;
    border: 1px solid var(--invert_background);
    box-shadow: 0 0 10px var(--invert_background);
}

.index_menu, .index_menu_halo {
    /* height: 700px; */
    z-index: 10;
    height: calc();
    overflow-y: scroll;
    color: var(--invert_background);
    padding: 20px;
    border: 1px solid var(--invert_background);
    background: var(--background);
    position: fixed;
    top: 60px;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
    transform: translateX(-270px);
    /* transition: all 500ms cubic-bezier(0.21, 0.23, 0.5, 1.46); */
    transition: all 500ms ease-in-out;
    /* box-shadow: 0 0 100px 10px #000; */
}

.index_menu>.index_menu_tabs {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    transition: all 300ms linear;
}

.index_menu>.index_menu_tabs:not(:first-child):hover {
    transform: translateX(15px);
}

.index_menu>.index_menu_tabs:not(:first-child):hover:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 100%;
    left: -15px;
    margin: auto;
    height: 7px;
    aspect-ratio: 1;
    border-right: 2px solid #EF5F36;
    border-top: 2px solid #EF5F36;
    /* background: red; */
    transform: rotate(45deg);
}

.index_menu>.index_menu_tabs:last-child {
    margin-bottom: 0;
}

.index_menu_x {
    transform: translateX(0);
}

.index_menu>.main_tabs {
    display: block;
}

.index_menu_halo {
    height: 10px;
    width: 10px;
    background: rgb(165, 165, 165);
    transform: translateX(-100%);
    overflow: hidden;
    top: -20px;
    left: -20px;
    border-radius: 0;
    height: 100vh;
    width: 150vw;
    z-index: 1;
    opacity: .3;
    filter: blur(5px);
}

.index_menu_halo_x {
    transform: translateX(0);
}


#index_menu_back {
    height: 20px;
    display: flex;
    align-items: center;
}

#index_menu_back>button {
    all: unset;
    position: relative;
    transform: rotate(45deg) translate(0px, 0px);
    height: 10px;
    aspect-ratio: 1;
    /* border: 1PX solid red; */
}

#index_menu_back>button,
#index_menu_back>button:after {
    box-shadow: inset 3px -3px 0px 0px#EF5F36;
}

#index_menu_back>button:before,
#index_menu_back>button:after {
    position: absolute;
    content: "";
    background: transparent;
    height: 10px;
    width: 10px;
    aspect-ratio: 1;
    /* background: red; */
    inset: 0;
}

#index_menu_back>button:before {
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: inset 0px 0px 0px 10px#EF5F36,5px 5px 30px 2px var(--invert_background);
    transform: rotate(0deg) translate(130px, -130px);
    /* animation: fish 1500ms infinite; */
}


#index_menu_back>button:after {
    height: 7px;
    width: 7px;
    top: 3px;
    box-shadow: inset 3px -3px 0px 0px#EF5F36;
    transform: rotate(0deg) translate(140px, -140px);
}



#index_menu_back>button:before {
    animation: fish_before 3000ms infinite;

}

#index_menu_back>button:after {
    animation: fish_after 3000ms infinite;
}

@keyframes fish_before {

    50% {
        transform: rotate(0deg) translate(5px,-5px);
    }

}

@keyframes fish_after {

    50% {
        transform: rotate(0deg) translate(15px, -15px);
    }
    50.99%{
        transform:rotate(180deg)
    }
    99.99%{

        transform: rotate(180deg) translate(-125px,125px);
    }
}


.main {
    color: var(--invert_background)
}